<% layout('layout') -%>

<!-- Navigatiron -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    	  <div class="navbar-header">
        	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
          	</button>
          	<a class="navbar-brand" id="home" href="#" onclick="return false;">Futuretek Dashboard</a>
      	</div>
      	<div class="collapse navbar-collapse">
          	<ul class="nav navbar-nav">
            	<li id="monitoring" class="active"><a href="#" onclick="return false;">Monitoring</a></li>
            	<li id="setting"><a href="#" onclick="return false;">Setting</a></li>
            	<li><a href="#">IFTTT</a></li>
          	</ul>
 	    </div><!--/.nav-collapse -->
    </div>
</div>

<!-- /.container 
<div class="container">
  	<div class="starter-template">
    	<h1>Monitoring Page</h1>
    	<p class="lead">이페이지는 센서의 모니터링을 표시합니다.<br>각각의 센서들을 따로 수정 관리 합니.</p>
  	</div>
</div>
-->
<div class="container">
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				Temperature
			</div>
			<div class="panel-body">
				<p>Temperature Content</p>
				<p>Temperature Content</p>
				<p>Temperature Content</p>
				<p>Temperature Content</p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				Humidity
			</div>
			<div class="panel-body">
				<p>Humidity Content</p>
				<p>Humidity Content</p>
				<p>Humidity Content</p>
				<p>Humidity Content</p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				Web Camera
			</div>
			<div class="panel-body">
				<p>Web Camera Content</p>
				<p>Web Camera Content</p>
				<p>Web Camera Content</p>
				<p>Web Camera Content</p>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="javascripts/util.js"></script>